[submodule "vendor/CImg"]
	path = vendor/CImg
	url = https://github.com/dtschump/CImg
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse
[submodule "vendor/imgui-sfml"]
	path = vendor/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
